node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.supabase/.temp
.supabase/.branches
coverage
*.log
.secrets.local
.secrets.*
.supabase/.temp
.supabase/config.json
.supabase/keys.json

.vercel
